.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 6em;
    padding: 1.5em;
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0 0 2em #61dafbaa);
    }
}
  
  